
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
html, body {
  /*background: #fff;*/
  background: #fff;

}

body {
/*   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 */  
 font-family: 'Titillium Web', sans-serif;
 font-size: x-large;

}
/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* 2. Make nav sticky */
.App > nav {
  position: sticky;
  top: 2rem;
  align-self: start;
  margin-right: 20px;

}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
  color: #333;
  font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
  font-size: large;
  padding-left: 0;
  border-right: 1px solid #949494;
}

.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
  color: #666;
}

/** Poor man's reset **/
* {
  box-sizing: border-box;
}



.section-nav ul, .section-nav > ol, .section-content > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-left: 1rem;
}

h1 {
  font-weight: 300;
}

/** page layout **/
.App {
  display: grid;
  grid-template-columns: 15em 1fr ;
  max-width: 100em;
  width: 90%;
  margin: 0 auto;
}


@media screen and (max-width: 700px) {
  .App {
    color:red;
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
  }

  /* Sidebar Navigation */
  .section-nav {
    font-size: large;
    padding-left: 0;
    border-right: none;
    
  }

  .section-nav-proj-item {
    height: 0;
    overflow: hidden;
  }

  .App > nav {
    position: sticky;
    top: 2rem;
    align-self: start;
    max-height: 10%;
    overflow: scroll;
  }
  
}

/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
  padding-bottom: 2rem;
}

.section-content {
  display: flex;
  flex-direction: row;
}

.section-content > *:first-child {
  min-width: 60%;
}
.section-content > *:last-child {
  width: 30%;
  /* border: 1px black solid; */
}




/* Works on Firefox */
* {
  scrollbar-color: black white;
  scrollbar-width: 50px;
  }


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: none;
}



.section-image {
  max-height: 400px;
  padding: 0px;
  /* border: solid 1px black; */
}

.project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


.project-image-overlay {
  height: 100%;
  width: 100%;
  /* border: solid 1px #000; */
  padding-left: 300px;
  box-sizing: border-box;
  box-shadow: inset -156px 0 94px #FFF;
  position: absolute;
}